*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

/*body*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Oxygen', sans-serif;
    background-color: #151515;
    width: 100vw;
}
body section iframe{
    width: 100%;
}

/*titles*/
h1{
    font-size: 4rem;
    color: #ffffff;
    padding: 15px 0 5px 30px;
}
.punto{
    font-weight: 200;
}
.vida{
    font-weight: 1000;
}
h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    padding: 0 0 15px 30px;
}
nav{
    margin-bottom: 10px;
}

/*lists*/
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
ul li{
    padding: 3px 40%;
    justify-content: center;
    font-size: 1.5rem;
    color: #bf930d;
}

/*header*/
header nav{
    background-image: url(../img/texturaoro2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

/*links*/
a{
    text-decoration: none;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}

/*parragraphs*/
p{
    color: #ffffff;
    font-size: 1.3rem;
    padding: 5px 15px 10px 20px;
}
.p-jus{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}
.p-jus-b{
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

.color-acordeon{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

/*forms*/
.justifying-forms{
    display: flex;
    justify-content: center;
}
form{
    color: #ffffff;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 10px 10px;
}
form label{
    padding-top: 10px;
    padding-bottom: 5px;
}
form input{
    border-radius: 5px;
    height: 40px;
    padding-left: 12px;
}

.submit{
    font-size: 1.6rem;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ff600f;
    color: #ffffff;
    border-radius: 5px;
}
textarea{
    resize: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.7rem;
}

/*footer*/
footer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "redes-container"
    "notes";
    width: 100%;
    bottom: 0;
    z-index: 100;
    background-color: 000000;
}

    /*footer buttons*/
    :root{
        --facebook: #3b5999;
        --youtube: #ff0000;
        --instagram: #dd2a7b;
        --whatsapp: #43d854;
    }
    .redes-container{
        display: flex;
        align-items: center;
        justify-content:center;
        margin-top: 5px;
    }
    .ul-redes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "facebook youtube fa-instagram fa-whatsapp";
    }
    .redes-container ul li{
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .redes-container ul li a{
        display: block;
        padding: 10px 10px;
        background: #333;
        color: #ffffff;
        line-height: 60px;
        width: 60px;
        font-size: 3rem;
    }
    .notes p{
        font-size: 1.5rem;
        color: #ffffff;
    }

.youtube-index{
    margin: 15px 15px;
}






@media only screen and (max-width: 360px){
    .iframe-container{
        display: none;
    }
    .button-right{
    float: right;
    margin-right: 30px;
    }
}
@media only screen and (min-width: 768px){
    body{
        position: relative;
        min-height: 100vh;
        display: flex;
    }
    body section iframe{
        float: right;
    }

    /*titles*/
    h1{
        font-size: 8rem;
        padding: 15 0 0 30px;
    }
    h3{
        font-size: 3rem;
        padding: 0 0 15px 30px;
    }

    nav{
        margin-bottom: 20px;
    }

    /*lists*/
    ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    ul li{
        display: inline-block;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding: 15px 15px ;
        font-size: 2rem;
    }
    li:hover{
        transform: translateY(-3px);
        transition: .2s;
    }
    .arreglo-listas{
        transition: transform 0.2s;
        padding: 5px;
    }
    .arreglo-listas li:hover{
        transform: translateY(-5px);
        box-shadow: 2px 3px 3px #101010;
    }
    header nav ul li:hover{
        background-color: #333;
        border-radius: 15px;
        scale: 1.1;
    }

    main {
        flex-grow: 1;
    }

    /*links*/
    a:hover {
        color: #bf930d;
    }

    /*parragraphs*/
    p{
        font-size: 1.8rem;
        padding: 5px 20px 10px 50px;
    }

    /*forms*/
    form{
        font-size: 2rem;
        justify-content: space-around;
        padding: 20px 0 0 30px;
    }
    form label{
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .submit{
        font-size: 2rem;
        width: 200px;
    }
    .submit:hover{
        color: #ffffff;
        background-color: #333;
    }

    /*footer*/
    footer{
        display: grid;
        grid-template-columns: 60% 200px;
        grid-template-rows: 200px;
        grid-template-areas: 
        "not-frame-container iframe-container";
    }
    .iframe-container{
        max-width: 200px;
    }
    .not-iframe-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "redes-container redes-container"
        "notes notes";
        gap: 100px;
    }

    /*footer buttons*/
    :root{
        --facebook: #3b5999;
        --youtube: #ff0000;
        --instagram: #dd2a7b;
        --whatsapp: #43d854;
    }
    .redes-container{
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
    .redes-container ul li{
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .redes-container ul li a{
        display: block;
        padding: 10px 10px;
        background: #333;
        color: #ffffff;
        line-height: 60px;
        width: 60px;
        font-size: 3rem;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
        transition: .2s;
    }
    .redes-container ul li a:hover{
        transform: translateY(-3px) scale(1.05);
        border-radius: 10px;
        box-shadow: 0 5px 5px 0 #ffffff(0, 0, 0, .4);
    }
    .redes-container ul li .instagram:hover{
        background: var(--instagram);
    }
    .redes-container ul li .youtube:hover{
        background: var(--youtube);
    }
    .redes-container ul li .facebook:hover{
        background: var(--facebook);
    }
    .redes-container ul li .whatsapp:hover{
        background: var(--whatsapp);
    }
    .footer-notes{
        font-size: 1.3rem;
        color: #333;
    }

    /*back button*/
    .button-right{
        float: right;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .go-back-button{
        margin-top: 3rem;
        padding-bottom: 2rem;
        padding: 10px 30px;
        z-index: 100;
        text-align: center;
        font-size: 3rem;
    }
    .go-back-button:hover{
        background-color: #333;
        scale: 1.1;
        border-radius: 15px;
        box-shadow: 2px 3px 3px #000000;
    }

    /*groups*/
    .grupos-grupos{
        background-color: 272727;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .grupos-grupos li:hover{
        background-color: #101010;
        border-radius: 15px;
        scale: 1.1;
    }
    .youtube-index{
        margin: 20px 20px;
        max-width: 30%;
        float: inline-end;
    }
}